<% include partials/header.ejs %>

  <body>
    <div class="container"></div>
        <h1><%= projectN %></h1>
        <p><%= description %></p>
        <p><%= descriptiona %></p>
        <p><%= descriptionb %></p>
        <p><%= descriptionc %></p>
        <p><%= descriptiond %></p>
    </div>
  </body>

<% include partials/footer.ejs %>

