<% include partials/header.ejs %>

    <div class="container"></div>
        <h1><%= projectN %></h1>
        <p><%= description %></p>
        <p><%= descriptiona %></p>
        <p><%= descriptionb %></p>
        <p><%= descriptionc %></p>
        <p><%= descriptiond %></p>
    </div>


<% include partials/footer.ejs %>

